/*フォントの読み込み*/
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/*TailwindCSSの導入*/
@import "tailwindcss";

/*デフォルトフォントの設定*/
body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  background-color: #edf1f3;
}

/* 数値用フォントの設定 */
.code {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
}

/*デフォルトカラーの設定*/
@theme {
  /*黒系の色の設定*/
  --color-gray-100: #d6d6d6;
  --color-gray-200: #545454;
  --color-gray-300: #444444;
  --color-gray-400: #2e2f2e;

  /*白系の色の設定*/
  --color-white-100: #f9f9f9;

  /* アクセントカラーの設定 */
  --color-accent-100: #a1dbe5;
  --color-accent-200: #8fd4db;
  --color-accent-300: #4a98a0;

  /*角丸の設定*/
  --border-radius-1xl: 18px;

  /* 文字の設定 */
  --text-2xl: 20px;
  --text-1xl: 12px;
}

/* スクロールバーの非表示 */
@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}

.cesium-widget-credits {
  display: none !important;
}
